@font-face {
  font-family: 'software';
  src: url('assets/software.ttf');
}

.big-screen {
  width: 100%;
  height: 100%;
}

.small-screen {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;

  .mix-layout {
    &:first-child {
      margin-bottom: 2em;
    }

    .sider-wrapper {
      width: 35%;
      height: 56em;
    }

    .main-wrapper {
      width: 65%;
      height: 56em;

      .charts-box {
        height: 18em;
        width: 100%;
        position: relative;
        margin-bottom: 1em;
      }
    }

    .asider-wrapper {
      width: 100%;
      clear: both;
      float: none;
      overflow: hidden;

      .info-box {
        height: 36em;
      }

      .charts-box {
        float: left;
        width: 50%;
        height: 20em;
        padding-right: 0.6%;
        margin-top: 0;
        padding-top: 1%;
        position: relative;

        .select-components {
          top: 2.4em;
          z-index: 10;
          right: 2em;
        }

        &:nth-child(2n) {
          padding-right: 0;
          padding-left: 0.6%;
        }
      }

      .info-col {
        float: left;
        width: 50%;
        padding-right: 0.6%;
        padding-top: 1%;

        &:nth-child(2n) {
          padding-right: 0;
          padding-left: 0.6%;
        }

        &:first-child {
          padding-top: 1%;
        }

        height:18em;
      }
    }
  }

  &::-webkit-scrollbar {
    width: 0.6em;
    height: 0.6em;
    cursor: pointer;
  }

  /*滑动轨道*/
  &::-webkit-scrollbar-track {
    border-radius: 0px;
    background: none;
  }

  /*滑块*/
  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .2);
    background-color: #68d8fe;
  }

  /*滑块效果*/
  &::-webkit-scrollbar-thumb:hover {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .2);
    background-color: #56b2d7;
  }
}

.wrapper {
  background-image: linear-gradient(#044c8d, #002354);
}

.wrapper,
.layout-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.scroll {
  overflow-x: hidden;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 0.6em;
    height: 0.6em;
    cursor: pointer;
  }

  /*滑动轨道*/
  &::-webkit-scrollbar-track {
    border-radius: 0px;
    background: none;
  }

  /*滑块*/
  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .2);
    background-color: #68d8fe;
  }

  /*滑块效果*/
  &::-webkit-scrollbar-thumb:hover {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .2);
    background-color: #56b2d7;
  }
}

.ant-spin-nested-loading,
.ant-spin-container {
  height: 100%;
}

.sider-layout-title {
  width: 100%;
  font-size: 2em;
  line-height: 2.2em;
  height: 2.2em;
  overflow: hidden;
  text-align: center;
  font-family: 'Microsoft YaHei';
  font-weight: 400;
  overflow: hidden;
  color: #daf9ff;
  text-shadow: 0 0 0.1em #15d6ff,
    -0 -0 0.1em #15d6ff;
}

.sider-layout-body {
  position: absolute;
  bottom: 1.5em;
  top: 5em;
  left: 1em;
  right: 1em;
  overflow: hidden;
}

.sider-wrapper {
  float: left;
  width: 25%;
  height: 100%;
  padding: 0 0.8em;

  &.w20 {
    width: 20%;
  }

  .content {
    height: 100%;

    .select-module {
      position: fixed;
      top: 0.6em;
      left: 2em;
      height: 3.2em;
      width: 46em;
      padding: 0.5em 1em;

      &:before {
        position: absolute;
        content: '';
        left: 0em;
        top: 0em;
        width: 1em;
        height: 1em;
        border-top: 0.2em solid #f4e925;
        border-left: 0.2em solid #f4e925;
      }

      &:after {
        position: absolute;
        content: '';
        right: 0em;
        top: 0em;
        width: 1em;
        height: 1em;
        border-top: 0.2em solid #f4e925;
        border-right: 0.2em solid #f4e925;
      }
    }
  }

  .main {
    height: 100%;
    overflow: hidden;
  }
}

.info-box {
  width: 100%;
  height: 100%;

  .asider-srcoll {
    padding-right: 0.4em;
    position: absolute;
    top: 0em;
    bottom: 0em;
    left: 0.8em;
    right: 0;
    overflow-x: hidden;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 0.6em;
      height: 0.6em;
      cursor: pointer;
    }

    /*滑动轨道*/
    &::-webkit-scrollbar-track {
      border-radius: 0px;
      background: none;
    }

    /*滑块*/
    &::-webkit-scrollbar-thumb {
      border-radius: 5px;
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .2);
      background-color: #68d8fe;
    }

    /*滑块效果*/
    &::-webkit-scrollbar-thumb:hover {
      border-radius: 5px;
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .2);
      background-color: #56b2d7;
    }
  }

  .info-col {
    width: 100%;
    height: 24.9%;
    min-height: 12.6em;

    &:first-child {
      padding-top: 0;
    }

    padding-top: 2%;
    position: relative;

    .info-content {
      position: relative;
      height: 100%;

      &:before {
        content: '';
        width: 3em;
        height: 1.6em;
        position: absolute;
        bottom: -0.08em;
        left: -0.08em;
        z-index: 5;
        border-bottom: 0.16em solid #68d8fe;
        border-left: 0.16em solid #68d8fe;
      }

      &:after {
        content: '';
        width: 3em;
        height: 1.6em;
        position: absolute;
        bottom: -0.08em;
        right: -0.08em;
        z-index: 5;
        border-bottom: 0.16em solid #68d8fe;
        border-right: 0.16em solid #68d8fe;
      }

      .header {
        line-height: 2.2em;
        height: 2.2em;
        padding-left: 2em;
        font-size: 1.2em;
        position: relative;
        z-index: 3;

        &:before {
          content: '';
          width: 3em;
          height: 1.6em;
          position: absolute;
          top: -0.08em;
          left: -0.08em;
          border-top: 0.16em solid #68d8fe;
          border-left: 0.16em solid #68d8fe;
        }

        &:after {
          content: '';
          width: 3em;
          height: 1.6em;
          position: absolute;
          top: -0.08em;
          right: -0.08em;
          border-top: 0.16em solid #68d8fe;
          border-right: 0.16em solid #68d8fe;
        }

        .icon {
          position: absolute;
          top: 0;
          left: 0.5em;
        }

        h3 {
          font-size: 100%;
          position: relative;
          z-index: 5;
        }
      }

      .main {
        position: relative;
        overflow: hidden;
        position: absolute;
        top: 2.8em;
        left: 0.6em;
        right: 0.6em;
        bottom: 0.6em;
      }
    }
  }
}

.charts-wrapper {
  float: right;
  height: 100%;
  width: 80%;

  .charts-scroll {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 0.6em;
      height: 0.6em;
      cursor: pointer;
    }

    /*滑动轨道*/
    &::-webkit-scrollbar-track {
      border-radius: 0px;
      background: none;
    }

    /*滑块*/
    &::-webkit-scrollbar-thumb {
      border-radius: 5px;
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .2);
      background-color: #68d8fe;
    }

    /*滑块效果*/
    &::-webkit-scrollbar-thumb:hover {
      border-radius: 5px;
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .2);
      background-color: #56b2d7;
    }
  }


  .charts-column {
    float: left;
    width: 30%;
    padding: 0 0.8em;
    height: 100%;

    .charts-box {
      width: 100%;
      margin-top: 2.3%;
      height: 31.833%;
      position: relative;
      min-height: 18.57em;


      &:first-child {
        margin-top: 0;
      }
    }
  }

  .charts-big-column {
    float: left;
    width: 40%;
    padding: 0 0.8em;
    height: 100%;

    .charts-box {
      width: 100%;
      margin-top: 2.3%;
      position: relative;
      height: 31.833%;
      min-height: 18.57em;

      &:first-child {
        margin-top: 0;
      }
    }
  }
}



.main-wrapper {
  float: left;
  width: 45%;
  height: 100%;
  padding: 0em 0.8em;
  position: relative;

  .map-box {
    height: 100%;
    position: relative;

    &:before {
      content: '';
      width: 3em;
      height: 1.6em;
      position: absolute;
      bottom: -0.08em;
      left: -0.08em;
      z-index: 5;
      border-bottom: 0.16em solid #68d8fe;
      border-left: 0.16em solid #68d8fe;
    }

    &:after {
      content: '';
      width: 3em;
      height: 1.6em;
      position: absolute;
      bottom: -0.08em;
      right: -0.08em;
      z-index: 5;
      border-bottom: 0.16em solid #68d8fe;
      border-right: 0.16em solid #68d8fe;
    }

    .footer {
      position: absolute;
      bottom: 12em;
      left: 2.6em;
      z-index: 8;

      .ant-select {
        font-size: 1.02em;
        width: 6.8em;
      }

      .ant-select-selection--single {
        height: 1.8em;
      }

      .ant-select-selection__rendered {
        line-height: 1.8em;
      }

      .ant-select-arrow {
        right: 5px;
      }

      .ant-select-selection {
        border-radius: 0;
        font-size: 1.12em;
      }
    }
  }

  .info-col {
    width: 50%;
    float: left;
    padding-right: 1em;

    &:after {
      right: 1em;
    }

    &:last-child {
      float: right;
      padding-right: 0;
      padding-left: 1em;

      &:after {
        right: 0em;
      }
    }
  }
}

.asider-wrapper {
  float: right;
  width: 30%;
  padding: 0 0.8em;
  height: 100%;
  position: relative;
}

.icon {
  font-size: 1.2em;
}

/*antd 修改*/
.ant-select-dropdown {
  font-size: 1em !important;
}

/* 媒体查询 */

@media screen and (max-width: 1920px) {
  .main-wrapper .info-col {
    width: 100%;
    float: none;
    padding: 0;

    &:last-child {
      padding-left: 0;
    }
  }

  .list-table .table-title {
    font-size: 1.8em !important;
  }

  .main-wrapper .map-box .footer {
    bottom: 10em !important;
    left: 1.6em !important;

    .ant-select {
      font-size: 13px;
    }
  }

  .main-wrapper .info-col:after {
    right: 0;
  }
}

@media screen and (max-width: 1680px) {
  .main-wrapper .info-col {
    width: 100%;
    float: none;
    padding: 0;
    margin-top: 1.2em;
  }

  .main-wrapper .map-box .footer {
    bottom: 12em !important;
    left: 2.0em !important;

    .ant-select {
      width: 6.8em;
      font-size: 12px;
    }
  }
}

@media screen and (max-width: 1366px) {
  .main-wrapper .map-box .footer {
    bottom: 13em !important;
    left: 2.4em !important;

    .ant-select {
      width: 7em;
      font-size: 10px;
    }
  }

}
